{% extends 'base/Payyed/default.html' %}
{% load static%}

<!-- styling
======================================== -->
{% block styling %}
{% endblock %}
<!-- styling end -->

<!-- header
======================================== -->
{% block header %}

{% endblock %}
<!-- header end -->

<!-- Content
  ============================================= -->
{% block content %}
{% endblock %}
<!-- Content end -->

<!-- Footer
  ============================================= -->
{% block footer %}
{%include 'base/Payyed/footer.html'%}
{% endblock %}
<!-- footer end -->

<!-- styling
  ============================================= -->
{% block scripting %}
{% endblock %}
<!-- styling end -->