{% extends 'base/Payyed/base.html' %}
{% load static%}

{% block content %}
<!-- Content
  ============================================= -->
<div id="content" class="py-4">
  <div class="container">
    <div class="row">
      <!-- Left Panel
        ============================================= -->
      <aside class="col-lg-3">

        <!-- Profile Details
          =============================== -->
        {%include 'dashboard/card_profile.html'%}
        <!-- Profile Details End -->

        <!-- Available Balance
          =============================== -->
        {%include 'dashboard/card_balance.html'%}
        <!-- Available Balance End -->

        <!-- Need Help?
          =============================== -->
        <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
          <div class="text-17 text-light my-3"><i class="fas fa-comments"></i></div>
          <h3 class="text-3 font-weight-400 my-4">Need Help?</h3>
          <p class="text-muted opacity-8 mb-4">Have questions or concerns regrading your account?<br>
            Our experts are here to help!.</p>
          <a href="#" class="btn btn-primary btn-block">Chate with Us</a>
        </div>
        <!-- Need Help? End -->

      </aside>
      <!-- Left Panel End -->

      <!-- Middle Panel
        ============================================= -->
      <div class="col-lg-9">

        <!-- Profile Completeness
          =============================== -->
        {%include 'dashboard/profile_completeness.html' %}
        <!-- Profile Completeness End -->

        <!-- Recent Activity
          =============================== -->
        {% include 'dashboard/recent_activity.html' %}
        <!-- Recent Activity End -->

      </div>
      <!-- Middle Panel End -->

    </div>
  </div>
</div>
<!-- Content end -->


{% endblock %}